* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBox {
    width: 400px;
    background-color: blueviolet;
    height: 480px;
    border-radius: 2rem;
    padding: 30px;
}

#heading {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
}

#first_coloumn {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color:white;
    margin-left: 18px;
    margin-bottom: 5px;
}

.take_percentage {
    width: 90%;
    margin-left: 15px;
    height: 35px;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    padding: 10px;
}

#second_coloumn {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color:white;
    margin-left: 18px;
    margin-bottom: 5px;
}

.total_classes {
    width: 90%;
    margin-left: 15px;
    height: 35px;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    padding: 10px;
}

.choice {
    padding: 20px;
    padding-left: 30px;
    color: white;
    gap: 50px;
}

#choice2 {
    margin-left: 20px;
    cursor: pointer;
}

#choice1 {
    cursor: pointer;
}

#new_class {
    width: 90%;
    margin-left: 15px;
    height: 35px;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    padding: 10px;
    margin-bottom: 30px;
}

#new_class_text {
    font-size: 18px;
    font-weight: 400;
    color:white;
    margin-left: 18px;
    margin-bottom: 5px;
}

button {
    width: 150px;
    height: 35px;
    border-radius: 1rem;
    border: none;
    color: black;
    margin-left: 18px;
    cursor: pointer;
    font-weight: bold;
}

.outputBox {
    display: flex;
    gap: 20px;
}

.updatedAttendence {
    background-color: transparent;
    outline: none;
    border: none;
    width: 120px;
    padding-left: 10px;
    margin-left: 20px;
    color:White;

}

.updatedAttendence::placeholder {
    color: white;
}

.active {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

h1 {
    padding-top: 5px;
    position: relative;
    font-size: 14px;

}

@media (max-width: 450px ){
    .mainBox {
        width: 350px;
        padding: 5px;
        padding-top: 30px;
        height: 470px;
        margin-top: -150px;
    }
}
    